# Reference: https://github.com/frappe/frappe_docker/blob/main/docs/02-setup/04-env-variables.md

################################################################################
CUSTOM_IMAGE=frappe-custom
# ERPNEXT_VERSION has been used as the image tag in the quadlet files.
# CUSTOM_TAG=
PULL_POLICY=never
################################################################################

ERPNEXT_VERSION=v16.34.1

# This is used in place of DB_PASSWORDS to make deployment scripts simpler.
DB_PASSWORD_SECRETS_FILE=/run/secrets/DB_PASSWORD

# The number of threads per Gunicorn worker process for handling concurrent requests.
GUNICORN_THREADS=4

# The number of worker processes for handling requests.
# A typical formula is (2 x number of CPU cores) + 1.
GUNICORN_WORKERS={{ gunicorn_workers }}

# Workers exceeding this timeout (in seconds) will be killed and restarted.
GUNICORN_TIMEOUT=120

# These environment variables are not required.

# Default value is `$$host` which resolves site by host. For example, if your host is `example.com`,
# site's name should be `example.com`, or if host is `127.0.0.1` (local debugging), it should be `127.0.0.1`.
# This variable allows to override described behavior. Let's say you create site named `mysite`
# and do want to access it by `127.0.0.1` host. Than you would set this variable to `mysite`.
FRAPPE_SITE_NAME_HEADER={{ frappe_site_name_header | default('$$host', True) }}

# Default value is `127.0.0.1`. Set IP address as our trusted upstream address.
UPSTREAM_REAL_IP_ADDRESS={{ upstream_real_ip_address | default('127.0.0.1', True) }}

# Default value is `X-Forwarded-For`. Set request header field whose value will be used to replace the client address
UPSTREAM_REAL_IP_HEADER={{ upstream_real_ip_header | default('X-Forwarded-For', True) }}

# Allowed values are on|off. Default value is `off`. If recursive search is disabled,
# the original client address that matches one of the trusted addresses
# is replaced by the last address sent in the request header field defined by the real_ip_header directive.
# If recursive search is enabled, the original client address that matches one of the trusted addresses is replaced by the last non-trusted address sent in the request header field.
UPSTREAM_REAL_IP_RECURSIVE={{ upstream_real_ip_recursive | default('off', True) }}

# All Values Allowed by nginx proxy_read_timeout are allowed, default value is 120s
# Useful if you have longrunning print formats or slow loading sites
PROXY_READ_TIMEOUT={{ (proxy_read_timeout | default(120, True)) if proxy_read_timeout != 0 else 0 }}

# All Values allowed by nginx client_max_body_size are allowed, default value is 50m
# Necessary if the upload limit in the frappe application is increased
CLIENT_MAX_BODY_SIZE={{ client_max_body_size | default('50m', True) }}

# Only with nginxproxy overrides
# Single site: NGINX_PROXY_HOSTS=erp.example.com
# Multiple sites: NGINX_PROXY_HOSTS=erp.example.com,www.erp.example.com
NGINX_PROXY_HOSTS={{ nginx_proxy_hosts }}
