[Unit]
Description=Nginx

[Container]
ContainerName=nginx
Image=docker.io/library/nginx:stable
Pull=always
Network=host
Volume=%h/conf.d/:/etc/nginx/conf.d:ro,z
Volume=%h/certs/:/etc/nginx/certs:ro,z

[Service]
Restart=always

[Install]
WantedBy=default.target
