[Unit]
Description=ERPNext Queue Long
PartOf=erpnext.target

Requires=erpnext-configurator.service
After=erpnext-configurator.service

[Container]
Image=localhost/{{ CUSTOM_IMAGE }}:{{ ERPNEXT_VERSION }}
Pull=never
Network=erpnext.network
Volume=sites:/home/frappe/frappe-bench/sites

Exec=bench worker --queue 'long,default,short'

[Service]
Restart=always
