[Unit]
Description=ERPNext Configurator

Requires=erpnext-mariadb.service erpnext-redis-cache.service erpnext-redis-queue.service
After=erpnext-mariadb.service erpnext-redis-cache.service erpnext-redis-queue.service

[Container]
Image=localhost/{{ CUSTOM_IMAGE }}:{{ ERPNEXT_VERSION }}
Pull=never
Network=erpnext.network
Volume=sites:/home/frappe/frappe-bench/sites

Entrypoint=["bash","-c"]
Exec='ls -1 apps > sites/apps.txt; \
      bench set-config -g db_host $$DB_HOST; \
      bench set-config -gp db_port $$DB_PORT; \
      bench set-config -g redis_cache "redis://$$REDIS_CACHE"; \
      bench set-config -g redis_queue "redis://$$REDIS_QUEUE"; \
      bench set-config -g redis_socketio "redis://$$REDIS_QUEUE"; \
      bench set-config -gp socketio_port $$SOCKETIO_PORT; \
      bench set-config -g chromium_path /usr/bin/chromium-headless-shell;'

Environment=DB_HOST=db
Environment=DB_PORT=3306
Environment=REDIS_CACHE=redis-cache:6379
Environment=REDIS_QUEUE=redis-queue:6379
Environment=SOCKETIO_PORT=9000

[Service]
Type=oneshot
